#vierkant{
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    margin-top: 5%;    
}

@media screen and (max-width: 1600px){
    #vierkant{
        background-color: yellow;  
        width: 60%;   
        height: 70%;    
        margin-top: 10%;
    }
}


@media screen and (max-width: 1000px){
    #vierkant{
        background-color: green;  
        width: 40%;   
        height: 50%;    
        margin-top: 30%;
    }
}


@media screen and (max-width: 480px){
    #vierkant{
        background-color: blue;  
        width: 20%;   
        height: 30%;    
        margin-top: 50%;
    }
}

