#div1{
    width: 11%;
    height: 38px;
    margin: 10px;
    background-color: green;
    float: left;
}
#div2{
    width: 11%;
    height: 38px;
    margin: 10px;
    background-color: yellow;
    float: left;
}
#div3{
    width: 11%;
    height: 38px;
    margin: 10px;
    background-color: red;
    float: left;
}
#div4{
    width: 11%;
    height: 38px;
    margin: 10px;
    background-color: blue;
    float: left;
}
#div5{
    width: 11%;
    height: 38px;
    margin: 10px;
    background-color: green;
    float: left;
}
#div6{
    width: 11%;
    height: 38px;
    margin: 10px;
    background-color: yellow;
    float: left;
}
#div7{
    width: 11%;
    height: 38px;
    margin: 10px;
    background-color: red;
    float: left;
}
#div8{
    width: 11%;
    height: 38px;
    margin: 10px;
    background-color: blue;
    float: left;
}

h1{
    font-size: 15px;
    text-align: center;
}