h1{
    font-size: 25px;  
    text-align: center;
	color: black;
}

h2{
	font-size: 25px;
	color: grey;
	text-align: center;
}

h3{
	color: black;
	font-size: black;
	text-align: center;
}

#topleft{
	width: 33%;
	height: 33%;
	background-color: yellow;
	float: left;
}

#topmid{
	width: 33%;
	height: 33%;
	background-color: red;
	float: left;
}

#topright{
	width: 33%;
	height: 33%;
	background-color: blue;
	float: left;
}


#midleft{
	width: 33%;
	height: 33%;
	background-color: rgb(43, 163, 131);
	float: left;
}

#midmid{
	width: 33%;
	height: 33%;
	background-color: rgb(65, 206, 169);
	float: left;
}

#midright{
	width: 33%;
	height: 33%;
	background-color: purple;
	float: left;
}


#botleft{
	width: 33%;
	height: 33%;
	background-color: grey;
	float: left;
}

#botmid{
	width: 33%;
	height: 33%;
	background-color: pink;
	float: left;
}

#botright{
	width: 33%;
	height: 33%;
	background-color: orange;
	float: left;
}